@{
    ViewData["Title"] = "Product Page";
}

<div class="paralax-section-slide-data1" style="background-image: url(&quot;file:///Users/khayalmammadzada/Downloads/150Page/main-file/shop/img/banner1.1.jpg&quot;); background-size: cover; background-attachment: fixed; background-position: center -37.525px; background-repeat: no-repeat no-repeat;">
</div>

<div class="product-listing">
    <div class="container">
        <div class="row no-gutters">

            <!-- START STICKY NAV -->
            <div class="col-12 col-lg-4 order-2 order-lg-1 sticky">
                <div id="product-filter-nav" class="product-filter-nav mb-3">
                    <div class="product-category">
                        <h5 class="filter-heading  text-center text-lg-left">Category</h5>
                        <ul>
                            <li><a href="#">June </a><span>(2)</span></li>
                            <li><a href="#">July </a><span>(4)</span></li>
                            <li><a href="#">Augest </a><span>(2)</span></li>
                            <li><a href="#">March </a><span>(7)</span></li>
                            <li><a href="#">May </a><span>(9)</span></li>
                        </ul>
                    </div>
                    <div class="product-price mt-1">
                        <h5 class="filter-heading">Shop By</h5>
                        <div id="slider-range" class="noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr"><div class="noUi-base"><div class="noUi-connects"><div class="noUi-connect" style="transform: translate(0%, 0px) scale(0.8, 1);"></div></div><div class="noUi-origin" style="transform: translate(-1000%, 0px); z-index: 5;"><div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="770.0" aria-valuenow="0.0" aria-valuetext="0.00"><div class="noUi-touch-area"></div></div></div><div class="noUi-origin" style="transform: translate(-200%, 0px); z-index: 4;"><div class="noUi-handle noUi-handle-upper" data-handle="1" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="30.0" aria-valuemax="1000.0" aria-valuenow="800.0" aria-valuetext="800.00"><div class="noUi-touch-area"></div></div></div></div></div>
                        <p class="price-num" style="color: #0b2e13;">Price: <span id="min-p">$0 - </span>  <span id="max-p">$800</span></p>
                    </div>


                    <button class="btn pink-gradient-btn-into-black mt-1">Filter</button>

                    <div class="product-add mt-4">
                        <div class="row no-gutters">
                            <div class="col-12">
                                <img src="img/advertisement.jpg" alt="images">
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- END STICKY NAV -->
            <!-- START PRODUCT COL 8 -->
            <div class="col-md-12 col-lg-8 order-1 order-lg-2">
                <div class="row">

                    <!-- START LISTING HEADING -->
                    <div class="col-12 product-listing-heading">
                        <h1 class="heading text-left">Product Listing</h1>
                        <p class="para_text text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. tellus lacus faucibus lectus, sed cursused eros ligula non odio.</p>
                    </div>
                    <!-- END LISTING HEADING -->
                    <!-- START PRODUCT LISTING SECTION -->
                    <div class="col-12 product-listing-products">

                        <!-- START DISPLAY PRODUCT -->
                        <div class="product-list row">

                            <div class="col-12 col-md-6 col-lg-4 manage-color-hover wow slideInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: slideInUp;">
                                <div class="product-item owl-theme product-listing-carousel owl-carousel owl-loaded owl-drag">


                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(-680px, 0px, 0px); transition: 0s; width: 2040px;">
                                            <div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p36.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p41.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item active" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p36.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p41.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p36.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p41.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div>
                                </div>
                                <div class="p-item-detail">
                                    <h4 class="text-center p-item-name"><a href="product-detail.html"> Fusion Top </a></h4>
                                    <p class="text-center p-item-price">$100.00</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 manage-color-hover wow slideInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: slideInUp;">
                                <div class="product-item owl-theme product-listing-carousel owl-carousel owl-loaded owl-drag">


                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(-680px, 0px, 0px); transition: 0s; width: 2040px;">
                                            <div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p47.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p48.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item active" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p47.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p48.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p47.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p48.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div>
                                </div>
                                <div class="p-item-detail">
                                    <h4 class="text-center p-item-name"><a href="product-detail.html"> Fusion Top </a></h4>
                                    <p class="text-center p-item-price">$100.00</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 manage-color-hover wow slideInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: slideInUp;">
                                <div class="product-item owl-theme product-listing-carousel owl-carousel owl-loaded owl-drag">


                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(-680px, 0px, 0px); transition: 0s; width: 2040px;">
                                            <div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p50.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p49.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item active" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p50.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p49.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p50.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p49.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div>
                                </div>
                                <div class="p-item-detail">
                                    <h4 class="text-center p-item-name"><a href="product-detail.html"> Fusion Top </a></h4>
                                    <p class="text-center p-item-price">$100.00</p>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4 manage-color-hover wow slideInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: slideInUp;">
                                <div class="product-item owl-theme product-listing-carousel owl-carousel owl-loaded owl-drag">


                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(-680px, 0px, 0px); transition: 0s; width: 2040px;">
                                            <div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p57.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p56.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item active" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p57.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p56.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p57.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p56.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div>
                                </div>
                                <div class="p-item-detail">
                                    <h4 class="text-center p-item-name"><a href="product-detail.html"> Fusion Top </a></h4>
                                    <p class="text-center p-item-price">$100.00</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 manage-color-hover wow slideInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: slideInUp;">
                                <div class="product-item owl-theme product-listing-carousel owl-carousel owl-loaded owl-drag">


                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(-680px, 0px, 0px); transition: 0s; width: 2040px;">
                                            <div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p53.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p54.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item active" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p53.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p54.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p53.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p54.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div>
                                </div>
                                <div class="p-item-detail">
                                    <h4 class="text-center p-item-name"><a href="product-detail.html"> Fusion Top </a></h4>
                                    <p class="text-center p-item-price">$100.00</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 manage-color-hover wow slideInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: slideInUp;">
                                <div class="product-item owl-theme product-listing-carousel owl-carousel owl-loaded owl-drag">


                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(-680px, 0px, 0px); transition: 0s; width: 2040px;">
                                            <div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p30.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p31.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item active" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p30.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p31.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p30.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p31.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div>
                                </div>
                                <div class="p-item-detail">
                                    <h4 class="text-center p-item-name"><a href="product-detail.html"> Fusion Top </a></h4>
                                    <p class="text-center p-item-price">$100.00</p>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4 manage-color-hover wow slideInUp" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
                                <div class="product-item owl-theme product-listing-carousel owl-carousel owl-loaded owl-drag">


                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(-680px, 0px, 0px); transition: 0s; width: 2040px;">
                                            <div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p24.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p25.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item active" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p24.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p25.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p24.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p25.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div>
                                </div>
                                <div class="p-item-detail">
                                    <h4 class="text-center p-item-name"><a href="product-detail.html"> Fusion Top </a></h4>
                                    <p class="text-center p-item-price">$100.00</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 manage-color-hover wow slideInUp" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
                                <div class="product-item owl-theme product-listing-carousel owl-carousel owl-loaded owl-drag">


                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(-680px, 0px, 0px); transition: 0s; width: 2040px;">
                                            <div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p45.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p46.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item active" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p45.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p46.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p45.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p46.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div>
                                </div>
                                <div class="p-item-detail">
                                    <h4 class="text-center p-item-name"><a href="product-detail.html"> Fusion Top </a></h4>
                                    <p class="text-center p-item-price">$100.00</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 manage-color-hover wow slideInUp" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
                                <div class="product-item owl-theme product-listing-carousel owl-carousel owl-loaded owl-drag">


                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(-680px, 0px, 0px); transition: 0s; width: 2040px;">
                                            <div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p32.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p33.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item active" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p32.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p33.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p32.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 10px;">
                                                <div class="item p-item-img">
                                                    <img src="img/product-listing/p33.jpg" alt="images">
                                                    <div class="text-center d-flex justify-content-center align-items-center">
                                                        <a class="listing-cart-icon" href="~/shop-cart.html">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div>
                                </div>
                                <div class="p-item-detail">
                                    <h4 class="text-center p-item-name"><a href="product-detail.html"> Fusion Top </a></h4>
                                    <p class="text-center p-item-price">$100.00</p>
                                </div>
                            </div>



                        </div>
                        <!-- END DISPLAY PRODUCT -->


                    </div>
                    <!-- END PRODUCT LISTING SECTION -->
                </div>
            </div>
            <!-- END PRODUCT COL 8 -->

        </div>
    </div>
</div>